
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
 }

.container {
  margin: auto;
  width: 1140px;
  font-family: Lato;
  font-size: 14px;
  box-sizing: border-box;
}
/*====== header ======*/

.page-header-wrp{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.page-header {
  width: 100%;
  min-height: 75px;
  display: flex;
  box-sizing: border-box;
  background: #222222;
}

.page-header-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-header svg {
  width: 100%;
  height: 100%;
  fill: #e8e8e8; 
}

.page-header-wrp-btn {
  width: 111px;
  display: flex;
  justify-content: space-between;
}
.page-header-wrp-btn:nth-child(2) {
  width: 168px;
}

.page-header-logo {
  display: block;
  width: 44px;
  height: 38px;
  text-decoration: none;
  color: #fff;
}

.page-header-logo:hover img {
  filter: brightness(30%);
}

.page-header-logo:active img {
  filter: brightness(10%);
}

.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
}

.page-header-search-form:hover svg {
  fill: #f16d7f;
}

.page-header-search-btn {
  width: 0;
  min-height: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.page-header-search-btn:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.page-header-search-btn:focus ~ label> svg {
  fill: #f16d7f;
}

.page-header-search-btn:active ~ label> svg {
  fill: red;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after{
  background-color: #f16d7f;
}
.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after{
  background-color: red;
}
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}
.menu-btn span::after {
  top: 10px;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ .menu-list {
  display: block;
}
#menu-switch:checked ~ .menu-switch-banner {
  border: 8px solid red;
}


.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none; 
  position: absolute;
  top: 61px;
  right: 0;
  
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  transform: rotate(45deg);
}

.menu-list-close-btn::after {
  transform: rotate(-45deg)
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background: #b7b6b6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after{
  background: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu-title>a,
.menu-list-item>a,
.menu-sublist-item>a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}


/*====== menu-list ======*/
  

.menu-list-item>a {
  display: block;
  margin: 0 0 11px 0;
  color: #f16d7f;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover>a {
  color: #9889d7;
}

.menu-list-item:active>a {
  color: #9d2334;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item>a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6f6e6e;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}

.account-btn {
  background-color: #222222;
  border: none;
}

.account-btn svg {
  width: 29px;
  height: 29px;
}

.account-btn:hover svg {
  fill: #f16d7f;
}

.account-btn:active svg {
  fill: red;
}

.cart-btn{
  padding-left: 0;
  background-color: transparent;
  color: #fff;
  position: relative;
  border: none;
}

.cart-btn svg {
  width: 32px;
  height: 29px;
}

.cart-btn:hover svg {
  fill: #f16d7f
}

.cart-btn:active svg {
  fill: red;
}

.cart-btn-icon {
  fill: CurrentColor;
}

.cart-btn-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -3px;
}

/*====== baner ======*/

.banner{
  width: 100%;
  min-height: 764px;
  display: flex;
  background-color: #f1e4e6;
}

.page-header-banner {
  width: 100%;
  min-height: 764px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  background-color: #f1e4e6;
  background-image: url('../img/header-baner.png');
  background-repeat: no-repeat;
  background-position: bottom left;
 }

.page-header-banner-wrp {
  width: 377px;
  margin: 0 100px 90px 0;
  text-transform: uppercase;
  position: relative;
}
.page-header-banner-wrp:before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: 0;
  left: -28px;
}
.page-header-banner-title {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  color: #222222;
}
.page-header-banner-subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}

.page-header-banner-pink{
  color: #f16d7f;
}

/*====== categories ======*/

.categories {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 65px auto 0 auto;
}

.categories-item {
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 360px;
  min-height: 260px;
  margin: 0 30px 30px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.categories-item:nth-child(1) {
  background-image: url('../img/categories-women.jpg');
}
.categories-item:nth-child(2) {
  background-image: url('../img/categories-men.jpg');
}
.categories-item:nth-child(3) {
  background-image: url('../img/categories-kids.jpg');
}
.categories-item:last-child {
  width: 100%;
  background-image: url('../img/categories-accesorise.jpg');
}
.categories-item:nth-child(4n-1),
.categories-item:last-child {
  margin: 0 0 30px;
}
.categories-item-title, 
.categories-item-subtitle{
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.categories-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.categories-item-subtitle {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #f16d7f;
}

/*====== products ======*/

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.products-title {
  display: block;
  width: 100%;
  margin: 45px 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.products-txt {
  display: block;
  width: 100%;
  margin: 0 0 48px 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.products-item {
  display: block;
  width: 360px;
  margin: 0 30px 30px 0;
  position: relative;
  background: #f8f8f8;
  text-decoration: none;
  box-sizing: border-box;
}
.products-item:nth-child(3n) {
  margin: 0 0 30px 0;
}
.products-item:hover .products-item-btn {
  display: flex
}
.products-item:hover .products-item-btn:hover {
  background-color: #f16d7f;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.products-item:hover .products-item-btn:hover svg {
  fill: #ffffff;
}
.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}
.products-item:hover .products-item-photo {
  filter: brightness(50%);
}
.products-item:hover .products-item-photo-wrp:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}
.products-item-photo-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f7e4e2;
  box-sizing: border-box;
}
.products-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  box-sizing: border-box;
  text-align: left;
}
.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.products-item-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}
.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}
.products-btn {
  display: block;
  width: 211px;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #f26376;
  box-sizing: border-box;
  color: #f26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #f26376;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.products-btn:active {
  background-color: #fff;
  border: 2px solid #f26376;
  color: #f26376;
}
/*====== features ======*/

.features{
  margin: 95.5px auto 0 auto;
  width: 100%;
  min-height: 341px;
  display: flex;
  background-color: #222222;
}
.features-wrp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 341px;
  padding: 20px;
  background-color: #222224;
  box-sizing: border-box;
}
.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 90px 0 0;
}
.features-item:nth-child(4n-1) {
  margin: 0;
}
.features-item-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #f16d7f;
}
.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
}
.features-item-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

/*====== subscribe ======*/

.subscribe{
  background-image: linear-gradient(rgba(244,244,244, 0.7), rgba(244,244,244, 0.7)), 
                    url('../img/background-subscribe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3eeef;
}

.subscribe-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 448px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
  
.subscribe-info {
  display: flex;
  margin: 0 340px 0 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 360px;
}

.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  background-image: url('../img/face-subscribe.png');
  background-size: 150%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  width: 355px;
}

.subscribe-form-title, 
.subscribe-form-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.subscribe-form-title {
  display: block;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.subscribe-form-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
}

.subscribe-form-email {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px 0 0 20px ;
  background-color: #e1e1e1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-btn {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.subscribe-form-btn:hover {
  background-color: #fff;
  color: #f16d7f;
}

.subscribe-form-btn:active {
  background-color: #f16d7f;
  color: #fff;
}

/*====== page-footer ======*/

.page-footer{
  background-color: #222222;
  min-height: 79px;
}

.page-footer-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 79px;
  box-sizing: border-box;
  background-color: #222224;
}

.page-footer-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.page-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
}

.page-footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials-item svg {
  fill: #000;
}

.page-footer-socials-item:hover svg {
  fill: #f16d7f;
}

.page-footer-socials-item:active {
  background-color: #f16d7f;
}

.page-footer-socials-item:active svg {
  fill: #fff;
}

/*======= CATALOG ========*/

/*======= top-page ========*/

.top-page{
  display: flex;
  min-height: 148px;
  background-color: #f1e4e6;
}

.top-page-wrp{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.top-page-title{
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
}

.breadcrumb ul {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-transform: uppercase;
}
  
.breadcrumb-link{
  text-decoration: none;
  color: #636363;
}

.breadcrumb li{
  list-style-type: none;
  text-decoration: none;
}
.breadcrumb li::before {
  margin: 0 5px 0 5px;
  content: "/";
  
}
  
.breadcrumb li:first-child::before {
  content: "";
}

.breadcrumb-page{
  font-weight: bold;
  color: #f16d7f;
}

/* ========= FILTER ========*/

input:focus,
button:focus {
  outline: none;
}
input:focus-visible, 
button:focus-visible{
  outline: 2px solid #f16d7f;
}

#switch-filter {
  display: none;
}
#switch-filter:checked ~ .filter-list {
  display: block;
}
.filter-wrp {
  margin: auto;
  width: 1140px;
  min-height: 120px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.filter { 
  position: relative; 
  width: 360px;
  padding: 50px 16px 16px 16px;
  box-sizing: border-box;
  background: #ffffff;
  justify-content: space-between;
}
.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}
.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.filter-btn:hover {
  color: #f16d7f;
}
.filter-btn:active {
  color: #222224;
}

.filter-list {
  min-width: 360px;
  position: absolute;
  z-index: 100;
  display: none;
  list-style: none;
  margin: 0;
  padding: 13px 0 0 16px;
  box-sizing: border-box;
  background-color: #fff;
  top: 71px;
  left: 0px;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
}
.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.filter-list-item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.filter-list-item a {
  text-transform: uppercase;
  color: #ef5b70;
  text-decoration: none;
}
.filter-list-item:hover:before {
  background-color: red;
}
.filter-list-item:hover a {
  color: red;
}
.filter-list-item:active:before {
  background-color: #ccc;
}
.filter-list-item:active a {
  color: #ccc;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}
.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.filter-sublist-item a {
  color: #6f6e6e;
  text-decoration: none;
}

.filter-sublist-item:hover a {
  color: #ef5b70;
}
.filter-sublist-item:active a {
  color: #000;
}

.list-wrp{
  margin: 0 385px 0 0;
  display: flex;
  padding: 50px 16px 16px 16px;
  box-sizing: border-box;
}

/*========= LIST TRENDING ========*/



.list-tranding {
  position: relative;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}
.list-tranding-btn-title {
  display: block;
  width: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-tranding-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 60%;
}
.list-tranding-btn-title:hover {
  color: #F16D7F;
}
.list-tranding-btn-title:hover svg {
  fill: currentColor;
}
.list-tranding-btn-title:active {
  color: black;
}
.list-tranding-btn-title:active svg {
  fill: currentColor;
}
#switch-trand {
  display: none;
}
#switch-trand:checked ~ .list-tranding-wrp {
  display: flex;
}
.list-tranding-wrp {
  z-index: 100;
  position: absolute;
  min-width: 147px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 11px 0 10px 35px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
}
.list-tranding-item {
  display: none;
}

.list-tranding-item:nth-child(1):checked ~ .list-tranding-item-title:nth-child(2):before,
.list-tranding-item:nth-child(3):checked ~ .list-tranding-item-title:nth-child(4):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}

.list-tranding-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.list-tranding-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23px;
}


/*========= LIST SIZE ========*/

.list-size {
  position: relative;
  width: 80px;
  border: none;
  background-color: transparent;
}
.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 60%;
}
.list-size-btn-title:hover {
  color: #F16D7F;
}
.list-size-btn-title:hover svg {
  fill: currentColor;
}
.list-size-btn-title:active {
  color: black;
}
.list-size-btn-title:active svg {
  fill: currentColor;
}
#switch-size {
  display: none;
}
#switch-size:checked ~ .list-size-wrp {
  display: flex;
}
.list-size-wrp {
  position: absolute;
  z-index: 100;
  min-width: 70px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
}
.list-size-item {
  display: none;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}
.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23px;
}

/* ============ LIST PRICE =========*/

.list-price {
  position: relative;
  width: 80px;
  border: none;
  background-color: transparent;
}
.list-price-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-price-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 60%;
}
.list-price-btn-title:hover {
  color: #F16D7F;
}
.list-price-btn-title:hover svg {
  fill: currentColor;
}
.list-price-btn-title:active {
  color: black;
}
.list-price-btn-title:active svg {
  fill: currentColor;
}
#switch-price {
  display: none;
}
#switch-price:checked ~ .list-price-wrp {
  display: flex;
}
.list-price-wrp {
  position: absolute;
  z-index: 100;
  min-width: 160px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
  
}
.list-price-item {
  display: none;
}
.list-price-item:nth-child(1):checked ~ .list-price-item-title:nth-child(2):before,
.list-price-item:nth-child(3):checked ~ .list-price-item-title:nth-child(4):before,
.list-price-item:nth-child(5):checked ~ .list-price-item-title:nth-child(6):before,
.list-price-item:nth-child(7):checked ~ .list-price-item-title:nth-child(8):before,
.list-price-item:nth-child(9):checked ~ .list-price-item-title:nth-child(10):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}
.list-price-item-title {
  display: block;
  width: 120px;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}
.list-price-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #ebebeb;
  position: absolute;
  top: 1px;
  left: -23px;
}

.pagination{
  margin: 48px auto 86px auto;
  max-width: 264px;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.pagination a {
  margin: auto;
  color: #c4c4c4;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
}

.pagination a.active {
  color: #f16d7f;
}

.pagination a:hover:not(.active) {
  color: #f16d7f;
}  
/*===================== PRODUCT===============*/

.carousel-wrp{
  background-color: #F7F7F7;
  min-height: 777px;
  margin: 0 0 665px 0;
}

.carousel{
  position: relative;
  margin: 0 288px 0 251px;
  background-image: url('../img/product-item.png');
  background-color: #F7F7F7;
  min-height: 777px;
  background-repeat: no-repeat;
}

.benefits{
  display: block;
  position: absolute;
  top: 699px;
  left: -252px;
  min-width: 1140px;
  min-height: 601px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}  

.benefits-title{ 
  margin: 65px 0 12px 0 ;  
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}

.benefits-title-block{
  margin: 0 auto;
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.benefits-subtitle{
  margin: 12px 0 48px 0;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
}

.benefits-txt{
  margin: 0 auto 32px auto;
  max-width: 555px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}

.benefits-price{
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.carousel-list-wrp{
  justify-content: space-between;
  box-sizing: border-box;
  padding: 65px 80px 0 113px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 246px;  
  bottom: 0px;
  width: 641px;
  height: 244px;
  border-top: 1px solid #eaeaea;
}

/*========color drop down===========*/
.carousel-list-color {
  position: relative;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}
.list-color-btn-title {
  display: block;
  width: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-color-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 54%;
}
.list-color-btn-title:hover {
  color: #F16D7F;
}
.list-color-btn-title:hover svg {
  fill: currentColor;
}
.list-color-btn-title:active {
  color: black;
}
.list-color-btn-title:active svg {
  fill: currentColor;
}
#switch-color {
  display: none;
}
#switch-color:checked ~ .list-color-wrp {
  display: flex;
}
.list-color-wrp {
  z-index: 100;
  position: absolute;
  min-width: 147px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 11px 0 10px 35px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
}
.list-color-item {
  display: none;
}

.list-color-item:nth-child(1):checked ~ .list-color-item-title:nth-child(2):before,
.list-color-item:nth-child(3):checked ~ .list-color-item-title:nth-child(4):before, 
.list-color-item:nth-child(5):checked ~ .list-color-item-title:nth-child(6):before,
.list-color-item:nth-child(7):checked ~ .list-color-item-title:nth-child(8):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}

.list-color-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.list-color-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23px;
}

.list-choosesize-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 65%;
}
.list-choosesize {
  position: relative;
  width: 160px;
  border: none;
  background-color: transparent;
}
.list-choosesize-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-choosesize-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 68%;
}
.list-choosesize-btn-title:hover {
  color: #F16D7F;
}
.list-choosesize-btn-title:hover svg {
  fill: currentColor;
}
.list-choosesize-btn-title:active {
  color: black;
}
.list-choosesize-btn-title:active svg {
  fill: currentColor;
}
#switch-choosesize {
  display: none;
}
#switch-choosesize:checked ~ .list-choosesize-wrp {
  display: flex;
}
.list-choosesize-wrp {
  position: absolute;
  z-index: 100;
  min-width: 70px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
}
.list-choosesize-item {
  display: none;
}
.list-choosesize-item:nth-child(1):checked ~ .list-choosesize-item-title:nth-child(2):before,
.list-choosesize-item:nth-child(3):checked ~ .list-choosesize-item-title:nth-child(4):before,
.list-choosesize-item:nth-child(5):checked ~ .list-choosesize-item-title:nth-child(6):before,
.list-choosesize-item:nth-child(7):checked ~ .list-choosesize-item-title:nth-child(8):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}
.list-choosesize-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.list-choosesize-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23px;
}

.list-quantity {
  position: relative;
  width: 160px;
  border: none;
  background-color: transparent;
}
.list-quantity-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-quantity-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 55%;
}
.list-quantity-btn-title:hover {
  color: #F16D7F;
}
.list-quantity-btn-title:hover svg {
  fill: currentColor;
}
.list-quantity-btn-title:active {
  color: black;
}
.list-quantity-btn-title:active svg {
  fill: currentColor;
}
#switch-quantity {
  display: none;
}
#switch-quantity:checked ~ .list-quantity-wrp {
  display: flex;
}
.list-quantity-wrp {
  position: absolute;
  z-index: 100;
  min-width: 160px;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.26);
  
}
.list-quantity-item {
  display: none;
}
.list-quantity-item:nth-child(1):checked ~ .list-quantity-item-title:nth-child(2):before,
.list-quantity-item:nth-child(3):checked ~ .list-quantity-item-title:nth-child(4):before,
.list-quantity-item:nth-child(5):checked ~ .list-quantity-item-title:nth-child(6):before,
.list-quantity-item:nth-child(7):checked ~ .list-quantity-item-title:nth-child(8):before,
.list-quantity-item:nth-child(9):checked ~ .list-quantity-item-title:nth-child(10):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}
.list-quantity-item-title {
  display: block;
  width: 120px;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}
.list-quantity-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #ebebeb;
  position: absolute;
  top: 1px;
  left: -23px;
}
.list-choosesize-btn {
  position: absolute;
  bottom: 100%;
  display: block;
  bottom: 25%;
  left: 34%;
  width: 211px;
  height: 47px;
  padding: 1px 0 10px 0;
  background-color: #fff;
  border: 1px solid #f26376;
  box-sizing: border-box;
  color: #f26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  word-break: break-all;
}
.list-choosesize-btn:hover {
  background-color: #f26376;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.list-choosesize-btn:active {
  background-color: #fff;
  border: 2px solid #f26376;
  color: #f26376;
}

.list-choosesize-btn svg {
  fill: #f26376;
  margin: 8px 27px -6px 2px;  
}

.list-choosesize-btn:hover svg {
  fill: #fff;
}

.list-choosesize-btn:active svg {
  fill: #f26376;
}